.bg {
    background-image: url("../images/bgetip.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.loginContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aliceblue;
    height: 82vh;
    margin-top: 50px;
    border-radius: 10px;
}
.tipImage {
    display: flex;
    /* justify-content: center; */
    margin-top: 10px;
}
.shippingImage {
    height: 40vh;
    width: 40vh;
    margin-left: 12vw;
    /* border-radius: 10%; */
}

.details {
    margin-top: 45px;
}

.detailsText {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-left: 45px;
    width: 80vh;
}
.detailsContent {
    font-family: "Arial";
    font-size: 15px;
    color: #009933;
    text-align: justify;
}
.formInputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    margin-right: 40px;
}

.formLength {
    /* width:75vh; */
    /* resize:vertical; */
}
.btnColor {
    width: 30vh;
    background-color: #009933;
    color: #fff;
}
.btnColor:hover {
    border: 3px solid #009933;
    color: #009933;
}
.hFour {
    margin-left: 20px;
    font-weight: bolder;
    font-size: larger;
    color: #009933;
    margin-top: 5px;
}
.hrefButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    /* width:75vh; */
}
.hrefClicks {
    color: #009933;
    text-decoration: none;
}
.howTo {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    margin-top: 55px;
}
.btnCenter {
    display: flex;
    /* justify-content: center; */
    margin-left: 120px;
}

/* Modal */
.modal-body {
    background-color: aliceblue;
}
.modal-header {
    background-color: #009933;
}
.regModal {
    color: #fff;
    align-self: center;
    margin-left: 45vw;
    font-size: 100px;
}
.signUpBtn {
    width: 35vw;
    height: 4.5vw;
}
.signupInputs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.formRegister {
    width: 35vw;
}
.userRegistration {
    margin-top: 60px;
}
.bg-green {
    background-color: #009933;
}
.text-bg-green {
    background-color: #009933;
}
.main {
    margin-top: 60px;
}
.options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.eTip {
    margin-left: 15px;
}
.btnCards {
    margin-top: 30px;
}
.tableStyle {
    margin-top: 30px;
}
.textDecor {
    text-decoration: none;
}
.svgIcons {
    display: flex;
    justify-content: center;
}
.cardText {
    display: flex;
    justify-content: center;
}
.svgIcons {
    margin-top: 15px;
}
.svgColor {
    color: #009933;
}
.textColor {
    color: #000;
}
.text-bg-tip {
    background-color: #009933;
    width: 12vw;
    height: 3vw;
    font-size: larger;
    margin-left: 2vw;
}
.text-bg-tips {
    background-color: red;
    width: 12vw;
    height: 3vw;
    font-size: larger;
}
.badgeTIP {
    display: flex;
    justify-content: center;
    justify-items: center;
}
.newTIPForms {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tipFORM {
    display: flex;
    justify-content: center;
}
.tipInput {
    width: 50vw;
}
.signUpTIPFirst {
    height: 6vw;
    width: 50vw;
    font-size: 3vw;
}
.signUpTIP {
    height: 6vw;
    width: 25vw;
    font-size: 3vw;
}
.addOtherTIP {
    height: 6vw;
    width: 20vw;
    font-size: 2vw;
}
.searchTIPMargin {
    margin-right: 50px;
    display: flex;
    justify-content: center;
}
.formSearch {
    border-width: 0;
    width: 12vw;
}
.searchTIP {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.btnSearch {
    width: 5vw;
}

.btnSearchClose {
    color: #fff;
}
.declare {
    margin-left: 20px;
}
.declarations {
    border-width: 2px;
    border-color: #009933;
    border-style: solid;
    width: 90vw;
}
.declarationHeading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
}
.instructions {
    display: flex;
    justify-content: center;
}
.textDeclarations {
    font-size: 1.5vw;
}
.submitOther {
    display: flex;
    justify-content: flex-end;
}
.otherAdd {
    display: flex;
    flex-direction: column;
}
.formAddMore {
    display: flex;
    justify-content: center;
}
.addHeading {
    color: #fff;
}
.formMakeEdit {
    /* background-color: #000; */
    z-index: 250;
}
.formAdd {
    width: 50vw;
}
/* .fs{
    z-index: -1;
  } */
/* .focusOnME{
    z-index: 100000;
  } */
.addRowsClass {
    display: "flex";
    flex-direction: row;
}

.addMoreItems {
    width: 20vw;
}
.addRows {
    display: "flex";
    flex-direction: column;
}

.checkOption {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.formsArrangements {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4vw;
}
.formChange {
    width: 20vw;
}
.headProfile {
    margin: 100px;
    /* margin-bottom: 10px; */
}
.profileAvatar {
    border-color: #009933;
    border-width: 2px;
    border-style: solid;
    height: 20vw;
}
.profileImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2vw;
}
.profileBrief {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.textProfile {
    text-align: center;
    margin-top: 1.5vw;
}
.myImage {
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    align-self: center;
}
.changePasswordForm {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.changeHeadings {
    margin-left: 15px;
}
.changPass {
    width: 10vw;
}
.profileChangePassword {
    border-color: #009933;
    border-width: 2px;
    border-style: solid;
    margin-top: 20px;
    height: 12vw;
}
.profileCard {
    border-color: #009933;
    border-width: 2px;
    border-style: solid;
    margin-top: 20px;
    height: 35vw;
}
.personalDetails {
    width: 45vw;
}
.profileForms {
    display: flex;
    justify-content: center;
}
.saveChange {
    height: 4.5vw;
}
.imgDetails {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: row;
    top: 0;
}
.driverSection {
    height: 15vw;
    width: 15vw;
    border-radius: 100%;
    margin-left: 15vw;
}
.strip {
    height: 7vw;
    width: 0.2vw;
    background-color: #fff;
    margin-left: 3vw;
    margin-top: 40px;
}
.backgroundStrip {
    position: absolute;
    background-color: #009933;
    width: 85vw;
    height: 10vw;
    top: 0;
    margin-top: 25px;
}
.inforText {
    color: #fff;
    font-size: large;
}
.ownerInformation {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 1.5vw;
}

.otherDetails {
    position: absolute;
    /* margin-top: 300px; */
    top: 250px;
}
.otherBlank {
    height: 3vw;
    width: 85vw;
    background-color: #000;
}
.otherBlankSmall {
    height: 0.2vw;
    width: 85vw;
    background-color: #000;
}
.sectionsInitiator {
    position: relative;
    margin-top: 20px;
}
.dDetails {
    display: flex;
    flex-direction: row;
}
.vDetails {
    display: flex;
    flex-direction: row;
}
.tipApply {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.tipApplyBtn {
    width: 10vw;
    height: 3vw;
}
.containts {
    position: relative;
}
.moreDetails {
    margin-top: 10vw;
}
.reApplyBtn {
    display: flex;
    justify-content: flex-end;
}
.g-recaptcha {
    margin-left: 60px;
    margin-top: 20px;
}

@media screen and (min-width: 851px) {
    .detailsContent {
        font-size: small;
        text-align: justify;
    }
    .checkForm {
        margin-left: 50px;
    }
    .gCaptcha {
        margin-right: 100px;
    }
}

@media screen and (max-width: 850px) {
    .loginContainer {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        height: 90vh;
        width: 75vw;
    }
    .tipImage {
        display: none;
    }
    .formInputs {
        display: flex;
        justify-self: center;
    }
    .justifyForm {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        margin-left: 6vw;
        margin-bottom: 100vh;
    }
    .cText {
        display: none;
    }
    .formLength {
        /* width:45vh; */
        resize: vertical;
    }
    .options {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mobileCards {
        margin-top: 20px;
    }
    .forMobileView {
        display: flex;
        flex-direction: row;
    }
    .tipFORM {
        order: 1;
    }
    .badgeTIP {
        display: flex;
        order: 2;
        flex-direction: column;
        margin-top: 6vw;
    }
    .text-bg-tip {
        background-color: #009933;
        width: 20vw;
        height: 4vw;
        font-size: 2vw;
        margin-top: 20px;
    }
    .forMobileView {
        display: flex;
        justify-content: space-evenly;
    }
    .adderMore {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    .addOther {
        margin-left: 20px;
    }
    .addingMoreItems {
        margin-left: 20px;
    }
    .userRegistration {
        margin-left: 20px;
    }
    .declarations {
        margin-left: 20px;
    }
}

@media screen and (max-width: 676px) {
    .badgeTIP {
        margin-top: 16vw;
    }
}
